.containerSearchBar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: lightseagreen;
    border: solid 2px black;
}

.searchBar {
    width: 100%;
    height: 4rem;
    margin: 10px;
    border-color: black;
    font-size: 18px;

}

.imageShow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}